.imgNav{
    height: 90vh;
  }

  .bgColor{
      background-color: #ff0080;
      color: #ffffff;
  }

  .aboutUs{
      display: flex;
      align-items: center;
      background-color: #00FF7F;
      text-align: center;
  }

  .aboutUs img{
    height: 400px;
}

.btnCorol{
  background-color: #ff0080;
}

.calendar{
  display: flex;
  align-items: center;
  background-color: #f59bae;
}

.formCalendar{
  width: 100%;
  margin-left: 20px;
}

.calendar img{
  width: 100%;
}

  @media screen and (max-width:700px){
      
      
  }