.imgNav{
    height: 90vh;
  }

  .bgColor{
      background-color: #ff0080;
      color: #ffffff;
  }

  .nav-item{
    color: #ffffff;
  }

  .nav-link{
    color: #ffffff!important;
    text-decoration: none;
  }

  .nav-link a:hover{
    color: #00FF7F;
  }

  .aboutUs{
      display: flex;
      align-items: center;
      background-color: #00FF7F;
      text-align: center;
  }

  .aboutUs img{
    height: 400px;
}

.bntNav{
  text-decoration: none;
  color: black;
}

.btnCorol{
  background-color: #ff0080;
}

.calendar{
  display: flex;
  align-items: center;
  background-color: #f59bae;
}

.formCalendar{
  width: 100%;
  margin-left: 30px;
}

.calendar img{
  width: 100%;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

  @media screen and (max-width:800px){
    .aboutUs{
      flex-direction: column;
    }     
      
  }

  @media screen and (max-width:1000px){
    .calendar{
      flex-direction: column-reverse;
    }
    
  }

  @media screen and (max-width:350px){
    footer{
      flex-wrap: wrap;
    }    
  }